*{ padding:0px; margin:0px; list-style:none; font-family:"微软雅黑";}
input,button,select,textarea{outline:none}
textarea{resize:none}
.box{ 
	position:absolute;
	width:100%;
	height:100%;
	background-size: 100% 100%;
    background: url(../images/bg.png);
}

.login{
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -150px 0 0 -250px;
	width: 500px;
	height: 300px;
	background-color:rgba(49,143,203,.3);
	border-radius: 10px;

}
input {
    width: 300px;
	margin:8px 100px;
	margin-bottom: 35px;
	background: none;
	border: none;
	outline: none;
	padding: 10px 0px;
	padding-left:50px;
	width: 300px;
	font-size: 14px;
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
	border-bottom: 1px solid rgba(255,255,255,1);
	box-sizing: border-box;
}
.btn{
	width:300px;
	margin:0 100px;
	display: block;
	border: 1px solid #3762bc;
	background:url(../images/icon-enter.png) 260px 10px no-repeat rgba(49,143,203,.5) ;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.4);
	color: #ffffff;
	padding: 9px 14px;
	font-size: 16px;
	line-height: normal;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 25px;
	margin-bottom: 0;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	opacity:.8;
	-webkit-transition:.3s ease;
	-moz-transition:.3s ease;
	-o-transition:.3s ease;
	-ms-transition:.3s ease;
	transition:.3s ease;
	background-size: 9px 18px;
	}
.btn:hover{opacity:1;background: url(../images/icon-enter.png) 270px 10px no-repeat rgba(49,143,203,.5);background-size: 9px 18px;}	
.login_name{background:url(../images/icon-LoginUser.png) no-repeat;}
.password{background:url(../images/icon-Password.png) no-repeat;}
form{margin-top: 50px;}
.password-X{
	position: absolute;
	right: 15px;
    bottom: 129px;
	color:#ff7676;
	display:none;
	}
.loginName-X{
	position: absolute;
    right: -1px;
    bottom: 212px;
	color:#ff7676;
	display:none;
}
.loginException-X{
	position: absolute;
	right: 6px;
    bottom: 53px;
	color:#ff7676;
	display:none;
}